<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {# {{ importmap('app') }} #}
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% include 'navbar.html.twig' %}
    {% block body %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
