<footer
  class="text-center text-lg-start mt-5"
  style="background-color: #e9ecef"
>
  <div class="container d-flex justify-content-center py-5">
    <button
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2"
      style="background-color: #dadbdd"
    >
      <i class="fa-solid fa-phone"></i>
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-floating mx-2"
      style="background-color: #dadbdd"
    >
      <i class="fab fa-github"></i>
    </button>
  </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: #dadbdd">
    <p style="color: rgba(0, 0, 0, 0.5)">Transverse <small> 1.0.0 </small></p>
  </div>
  <!-- Copyright -->
</footer>
