{% extends 'base.html.twig' %} {% block title %}Votre compte {% endblock %} {%
block body %}
<div class="container">
  <h2 class="mt-5">Axe Compétences</h2>
  <form action="./form2.html">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Items</th>
          <th>Questionnements</th>
          <th>2</th>
          <th>1</th>
          <th>0</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="6">Excellence Technique/Communauté de pratiques</td>
          <td>
            Formations pour Apprendre à apprendre, changement de paradigme,
            "être à la page" (au-delà des compétences "justes" nécessaires)
          </td>
          <td><input type="radio" name="formation" value="2" /></td>
          <td><input type="radio" name="formation" value="1" /></td>
          <td><input type="radio" name="formation" value="0" /></td>
        </tr>
        <tr>
          <td>
            Le co-développement (outil d'intelligence collective) existe-t-il
            dans l'entreprise ?
          </td>
          <td><input type="radio" name="co_developpement" value="2" /></td>
          <td><input type="radio" name="co_developpement" value="1" /></td>
          <td><input type="radio" name="co_developpement" value="0" /></td>
        </tr>
        <tr>
          <td>
            Les collaborateurs sont-ils amenés à partager leurs compétences et
            sous quelles formes ?
          </td>
          <td>
            <input type="radio" name="partage_competences" value="2" />
          </td>
          <td>
            <input type="radio" name="partage_competences" value="1" />
          </td>
          <td>
            <input type="radio" name="partage_competences" value="0" />
          </td>
        </tr>
        <tr>
          <td>
            Le mentoring (fonctionnement en binôme) existe-t-il pour assurer le
            transfert de compétences ?
          </td>
          <td><input type="radio" name="mentoring" value="2" /></td>
          <td><input type="radio" name="mentoring" value="1" /></td>
          <td><input type="radio" name="mentoring" value="0" /></td>
        </tr>
        <tr>
          <td>
            Les managers sont-ils aussi formateurs sur certains sujet pour
            l'entreprise entière ?
          </td>
          <td>
            <input type="radio" name="managers_formateurs" value="2" />
          </td>
          <td>
            <input type="radio" name="managers_formateurs" value="1" />
          </td>
          <td>
            <input type="radio" name="managers_formateurs" value="0" />
          </td>
        </tr>
        <tr>
          <td>
            L'entreprise favorise-t-elle l'excellence technique ? (Principe 9 du
            Manifeste Agile)
          </td>
          <td>
            <input type="radio" name="excellence_technique" value="2" />
          </td>
          <td>
            <input type="radio" name="excellence_technique" value="1" />
          </td>
          <td>
            <input type="radio" name="excellence_technique" value="0" />
          </td>
        </tr>
        <tr>
          <td rowspan="2">Faire agile</td>
          <td>
            Déployez vous les pratiques du "Faire Agile", c'est-à-dire une ou
            plusieurs des "méthodes" agiles ?
          </td>
          <td><input type="radio" name="faire_agile" value="2" /></td>
          <td><input type="radio" name="faire_agile" value="1" /></td>
          <td><input type="radio" name="faire_agile" value="0" /></td>
        </tr>
        <tr>
          <td>Votre entreprise promeut-elle un "état d'esprit agile" ?</td>
          <td><input type="radio" name="esprit_agile" value="2" /></td>
          <td><input type="radio" name="esprit_agile" value="1" /></td>
          <td><input type="radio" name="esprit_agile" value="0" /></td>
        </tr>
        <tr>
          <td>Gestion humaine des compétences</td>
          <td>Votre entreprise gère-t-elle humainement les compétences ?</td>
          <td>
            <input type="radio" name="gestion_competences" value="2" />
          </td>
          <td>
            <input type="radio" name="gestion_competences" value="1" />
          </td>
          <td>
            <input type="radio" name="gestion_competences" value="0" />
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Suivant</button>
  </form>
</div>
{% endblock %}
